.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
     }
 
     .menu a {
         display: block;
             background: rgb(0, 0, 0);
             padding: 1rem 2rem;
             border-radius: 4px;
             color: white;
        
             text-transform: uppercase;
     }

     .menu a:hover {
        color: var(--cor-primaria);
     }
 
     ul {
         margin: 0px;
     padding: 0px;
         list-style: none;
         gap: 20px;
         display: block;
     }
 
     .header {
         display: grid;
         justify-items: center;
         gap: 20px;
     }
 

     .logo-preta {
        max-width: 160px;
        display: block;
    }

    @media (max-width: 600px) {
        .header {
            gap: 30px;
        }
    }
    